@font-face {
  font-family: 'micra';
  src: url('../assets/fonts/micra.woff2') format('woff2');
}
@font-face {
  font-family: 'helvetica';
  src: url('../assets/fonts/helvetica_regular.woff2') format('woff2');
}

html{
  font-size: calc(100vw / 1920 * 10);
  @media (max-width:1440px) {
    font-size: calc(100vw / 1200 * 10);
  }
  @media (max-width:1024px) {
    font-size: calc(100vw / 768 * 10);
  }
  @media (max-width: 480px) {
    font-size: calc(100vw / 360 * 10);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

